<%
  const hinted = (val, hint) => `<span title='${hint}'>${val}</span>`

  const { country_name, domain, ip, city, region, postal_code } = locals

  let area = [
    [city, 'City'],
    [region, 'Region'],
    [postal_code, 'Postal Code']
  ].filter(([v]) => Boolean(v))
  const located = area.length == 3

  area = area.map(_ => hinted(..._)).join(', ')
%>

<li class="header"><%= hinted(country_name, 'Country') %></li>

<% if (area) { %>
  <% /*
    no white space between area, marker, and </li>
    so when double clicked text is selected _exaclty_, w/o trailing space
  */ %>
  <li>
    <% print(area); located && print('<span class="located" title="Located!" />') %></li>
<% } %>

<li><%= hinted(ip, 'Resolved IP address') %></li>

<li class="separator" />

<li class="service">
  <% const href = `https://whois.domaintools.com/${domain}` %>
  <a class="whois" href="<%= href %>"
    title="Open link in a new tab" target="_blank">
    Whois
  </a>
</li>
