<li class="header"><%= locals.country_name || locals.domain  %></li>
<%
let area = [];
locals.city && area.push(locals.city);
locals.region && area.push(locals.region);
locals.postal_code && area.push(locals.postal_code);
if (area.length) { %>
  <li><%= area.join(', ') %><i> 📍</i></li>
<% } %>
<li><%= locals.ip %></li>
<li class="separator"></li>
<li class="service">
  <a class="whois" target="_blank" href="http://whois.domaintools.com/<%= locals.domain %>">Whois</a>
</li>
