<li class="data data_notfound">
  <%= domain %>
  <a title="Mark <%= domain %> as local resource" class="mark kinda_button" href="#">
    <img src="img/local_resource.png">
  </a>
</li>
<li class="data small"><%= (error) ? error : "Domain was not found in database" %></li>
