<li class="header"><%= tplData.geo.country_name %></li>
<%
tplData.region = [];
tplData.geo.city && tplData.region.push(tplData.geo.city);
tplData.geo.region && tplData.region.push(tplData.geo.region);
if (tplData.region.length) { %>
  <li class="tplData.small"><%= tplData.region.join(', ') %></li>
<% } %>
<li><%= tplData.geo.ip %></li>
<li class="separator"></li>
<li class="service">
  <a class="whois" target="_blank" href="http://whois.domaintools.com/<%= tplData.domain %>">Whois</a>
</li>
